# Aiven remote assessment environment variables
DEV_NGINX_PORT=8080

DEV_WEB_PORT=5173
DEV_API_PORT=3001

DEV_VITE_API_PROXY_TARGET=http://api:3001

DEV_DATABASE_URL=postgres://prep_tracker_dev:CHANGE_ME@pg-11673047-mykolaloop-407d.f.aivencloud.com:26267/prep_tracker_dev?sslmode=require
DATABASE_URL=postgres://prep_tracker_dev:CHANGE_ME@pg-11673047-mykolaloop-407d.f.aivencloud.com:26267/prep_tracker_dev?sslmode=require

JWT_SECRET=super_secret_key_123